<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body></body>

    <%- include("./partials/nav.ejs") %>

    <h1> Expenses Index</h1>

    <% for (let i = 0; i < expenses.length; i++) { %>
        <div>
          
            <a href="/expenses/<%= expenses[i]._id %>">
                <%= expenses[i].merchant + " on " + expenses[i].date %>
            </a>

            <!-- delete form here -->
            <form action="/expenses/<%= expenses[i]._id %>/?_method=DELETE" method="post">
                <input type="submit" value="Delete it">
            </form>

        </div>
    
    <% } %>
    
</body>

</html>